---
{{- with .Values.n8n }}

apiVersion: apps/v1
kind: Deployment
metadata:
    name: n8n
    namespace: {{ $.Release.Namespace }}
    labels:
        app.kubernetes.io/instance: n8n
        app.kubernetes.io/name: n8n
spec:
    replicas: {{ .replicas }}
    strategy:
        rollingUpdate:
            maxUnavailable: 0
    selector:
        matchLabels:
            app.kubernetes.io/instance: n8n
            app.kubernetes.io/name: n8n
    template:
        metadata:
            labels:
                app.kubernetes.io/instance: n8n
                app.kubernetes.io/name: n8n
        spec:
            containers:
                -   name: n8n
                    image: {{ .image }}
                    imagePullPolicy: IfNotPresent
                    securityContext:
                      capabilities:
                        drop:
                        - ALL
                    env:
                        - name: N8N_BASIC_AUTH_ACTIVE
                          value: "true"
                        - name: N8N_BASIC_AUTH_USER
                          valueFrom:
                              secretKeyRef:
                                  name: app
                                  key: username
                        - name: N8N_BASIC_AUTH_PASSWORD
                          valueFrom:
                              secretKeyRef:
                                  name: app
                                  key: password
                        - name: DB_POSTGRESDB_HOST
                          valueFrom:
                              secretKeyRef:
                                  name: cluster-postgres-app
                                  key: host
                        - name: DB_POSTGRESDB_DATABASE
                          valueFrom:
                              secretKeyRef:
                                  name: cluster-postgres-app
                                  key: dbname
                        - name: DB_POSTGRESDB_PORT
                          valueFrom:
                              secretKeyRef:
                                  name: cluster-postgres-app
                                  key: port
                        - name: DB_POSTGRESDB_USER
                          valueFrom:
                              secretKeyRef:
                                  name: cluster-postgres-app
                                  key: user
                        - name: DB_POSTGRESDB_PASSWORD
                          valueFrom:
                              secretKeyRef:
                                  name: cluster-postgres-app
                                  key: password
                        - name: DB_TYPE
                          valueFrom:
                              secretKeyRef:
                                  name: app
                                  key: type
                        - name: N8N_PORT
                          value: "{{ .port }}"
                        - name: N8N_ENCRYPTION_KEY
                          valueFrom:
                              secretKeyRef:
                                  name: app
                                  key: encryption_key
                        - name: N8N_PAYLOAD_SIZE_MAX
                          valueFrom:
                              secretKeyRef:
                                  name: app
                                  key: maxFileSizeMb

{{- if .resources }}
                    resources:
{{ toYaml .resources | indent 22 }}
{{- end }}
                    ports:
                        -   name: web
                            containerPort: {{ .port }}
                    volumeMounts:
                        - name: data
                          mountPath: /home/node
                        - name: nas
                          mountPath: /nas

            restartPolicy: Always
            volumes:
                - name: data
                  persistentVolumeClaim:
                      claimName: n8n-pvc
                - name: nas
                  nfs:
                    path: "{{ .nasPath }}"
                    server: "{{ .nasIp }}"

---

apiVersion: v1
kind: Service
metadata:
    name: n8n
    namespace: {{ $.Release.Namespace }}
spec:
    selector:
        app.kubernetes.io/instance: n8n
        app.kubernetes.io/name: n8n
    ports:
        -   name: n8n
            protocol: TCP
            port: {{ .port }}

{{- end }}
