---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
    name: n8n
    namespace: {{ $.Release.Namespace }}
    annotations:
        kubernetes.io/ingress.class: "nginx"
        gethomepage.dev/enabled: "true"
        gethomepage.dev/description: Low-code automation
        gethomepage.dev/group: Automation
        gethomepage.dev/icon: n8n
        gethomepage.dev/name: N8N
spec:
    tls:
        -   hosts:
                - "*.stefangenov.site"
            secretName: ingress
    rules:
        -   host: n8n.stefangenov.site
            http:
                paths:
                    -   pathType: Prefix
                        path: "/"
                        backend:
                            service:
                                name: n8n
                                port:
                                    number: {{ .Values.n8n.port }}
