---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
    name: uptimekuma-internal
    namespace: {{ $.Release.Namespace }}
    annotations:
        gethomepage.dev/enabled: "true"
        gethomepage.dev/description: Uptime Monitor
        gethomepage.dev/group: Monitoring
        gethomepage.dev/icon: uptime-kuma
        gethomepage.dev/name: Uptime Kuma
spec:
  parentRefs:
  - name: internal
    namespace: istio-gateway
  hostnames:
    - "uptimekuma.sgenov.dev"
    - "uptime.sgenov.dev"
  rules:
  - matches:
    - path:
        type: PathPrefix
        value: /
    backendRefs:
    - name: uptimekuma
      port: {{ .Values.uptimekuma.port }}
