---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
    name: uptimekuma
    namespace: {{ $.Release.Namespace }}
    annotations:
spec:
    ingressClassName: nginx
    tls:
        - hosts:
              - "*.sgenov.dev"
          secretName: ingress
    rules:
        - host: uptimekuma.sgenov.dev
          http:
              paths:
                  - pathType: Prefix
                    path: "/"
                    backend:
                        service:
                            name: uptimekuma
                            port:
                                number: {{ .Values.uptimekuma.port }}
        - host: uptime.sgenov.dev
          http:
              paths:
                  - pathType: Prefix
                    path: "/"
                    backend:
                        service:
                            name: uptimekuma
                            port:
                                number: {{ .Values.uptimekuma.port }}
        - host: uptimekuma.sgenov.dev
          http:
              paths:
                  - pathType: Prefix
                    path: "/"
                    backend:
                        service:
                            name: uptimekuma
                            port:
                                number: {{ .Values.uptimekuma.port }}
