---
freshrss:
    image: lscr.io/linuxserver/freshrss:1.26.2
    port: 80
    resources:
        requests:
            cpu: 200m
            memory: 200Mi

postgres:
    image: postgres:16.9
    port: 5432
    resources:
        requests:
            cpu: 10m
            memory: 256Mi

storage:
    configSize: 1Gi
    postgresSize: 10Gi
