---
vikunja:
    image: vikunja/vikunja:0.24.4
    port: 3456
    frontendUrl: https://vikunja.stefangenov.site

postgres:
    image: postgres:16.4
    port: 5432
    resources:
        requests:
            cpu: 10m
            memory: 256Mi

storage:
    postgresqlSize: 5Gi
    dataSize: 5Gi
