---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
    name: configs
    namespace: flux-system
spec:
    interval: 5m0s
    dependsOn:
        - name: apps
    path: ./cluster/homelab/configs
    prune: true
    decryption:
        provider: sops
        secretRef:
            name: sops-age
    sourceRef:
        kind: GitRepository
        name: flux-system
