apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
    name: foldingathome-internal
    namespace: {{ $.Release.Namespace }}
spec:
  parentRefs:
  - name: internal
    namespace: istio-gateway
  hostnames:
    - "foldingathome.sgenov.dev"
  rules:
  - matches:
    - path:
        type: PathPrefix
        value: /
    backendRefs:
    - name: foldingathome
      port: {{ .Values.foldingathome.port }}
