---
k3s_control_node: true

k3s_server:
  node-ip: "{{ ansible_default_ipv4.address }}"
  kubelet-arg:
    - "image-gc-high-threshold=75"
    - "image-gc-low-threshold=60"
  tls-san:
    - "{{ k3s_registration_address }}"
  docker: false
  disable:
    - traefik
    - local-storage
    - servicelb
  disable-network-policy: false
  disable-cloud-controller: true
  write-kubeconfig-mode: "644"
  cluster-cidr: "10.40.0.0/16"
  service-cidr: "10.96.0.0/16"
  etcd-expose-metrics: true

k3s_server_manifests_urls:
  - url: https://docs.projectcalico.org/archive/v3.19/manifests/tigera-operator.yaml
    filename: tigera-operator.yaml
