---
apiVersion: source.toolkit.fluxcd.io/v1beta2
kind: HelmRepository
metadata:
    name: velero
    namespace: flux-system
spec:
    url: https://vmware-tanzu.github.io/helm-charts
    interval: 10m
