---
{{- with .Values.whoogle }}

apiVersion: apps/v1
kind: Deployment
metadata:
    name: whoogle
    namespace: {{ $.Release.Namespace }}
    labels:
        app: whoogle
spec:
    replicas: {{ .replicas }}
    selector:
        matchLabels:
            app: whoogle
    template:
        metadata:
            labels:
                app: whoogle
        spec:
            restartPolicy: Always
            containers:
                -   name: whoogle
                    image: {{ .image }}
                    imagePullPolicy: IfNotPresent
                    env:
                        -   name: HTTPS_ONLY
                            value: "true"
                        -   name: WHOOGLE_CONFIG_THEME
                            value: "dark"
                    securityContext:
                        privileged: false
                        runAsNonRoot: true
                        allowPrivilegeEscalation: false
                        runAsUser: 927
                        runAsGroup: 927
{{- if .resources }}
                    resources:
{{ toYaml .resources | indent 22 }}
{{- end }}
                    ports:
                        -   name: web
                            containerPort: {{ .port }}
                    livenessProbe:
                        periodSeconds: 60
                        tcpSocket:
                            port: {{ .port }}
                    startupProbe:
                        failureThreshold: 10
                        tcpSocket:
                            port: {{ .port }}
{{- end }}
