---
{{- with .Values.whoogle }}
apiVersion: v1
kind: Service
metadata:
    name: whoogle
    namespace: {{ $.Release.Namespace }}
spec:
    {{- with .lbIp }}
    type: LoadBalancer
    loadBalancerIP: {{ . }}
    {{- end }}
    selector:
        app.kubernetes.io/instance: whoogle
        app.kubernetes.io/name: whoogle
    ports:
        -   name: whoogle
            protocol: TCP
            port: {{ .port }}
{{- end }}
