---
{{- with .Values.website }}
apiVersion: v1
kind: Service
metadata:
    name: website
    namespace: {{ $.Release.Namespace }}
spec:
    type: LoadBalancer
    loadBalancerIP: 192.168.1.6
    selector:
        app.kubernetes.io/instance: website
        app.kubernetes.io/name: website
    ports:
        -   name: website
            protocol: TCP
            port: {{ .port }}
{{- end }}
