---
{{- with .Values.cyberchef }}
apiVersion: v1
kind: Service
metadata:
    name: cyberchef
    namespace: {{ $.Release.Namespace }}
spec:
    selector:
        app.kubernetes.io/instance: cyberchef
        app.kubernetes.io/name: cyberchef
    ports:
        - name: cyberchef
          protocol: TCP
          port: 80
          targetPort: {{ .port }}
{{- end }}
