---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kyverno-policies
  namespace: kyverno
spec:
  interval: 10m
  install:
    createNamespace: true
  chart:
    spec:
      chart: kyverno-policies
      version: 3.7.1
      interval: 10m
      sourceRef:
        kind: HelmRepository
        name: kyverno
        namespace: flux-system
