---
speedtest:
    image: ghcr.io/miguelndecarvalho/speedtest-exporter:v3.5.4
    port: 9798
    resources:
        requests:
            cpu: 125m
            memory: 50Mi

prometheus:
    image: quay.io/prometheus/prometheus:v2.46.0
    port: 9090
    retentionTime: 3d

nodeExporter:
    image: prom/node-exporter:v1.6.1
    port: 9100
    tolerations:
        - key: node-role.kubernetes.io/master
          effect: NoSchedule

grafana:
    image: grafana/grafana:10.1.1
    port: 3000
    limits:
        cpu: 250m
        memory: 1Gi

cadvisor:
    image: gcr.io/cadvisor/cadvisor:v0.45.0-containerd-cri
    port: 8080
    resources:
        requests:
            memory: 50Mi
            cpu: 10m
        limits:
            memory: 500Mi
            cpu: 100m

loki:
    image: grafana/loki:2.9.0
    port: 3100
    resources:
        requests:
            cpu: 125m
            memory: 50Mi
        limits:
            memory: 2Gi

promtail:
    image: grafana/promtail:2.8.4
    resources:
        requests:
            cpu: 50m
            memory: 250Mi

kubestatemetrics:
    image: registry.k8s.io/kube-state-metrics/kube-state-metrics:v2.10.0
