---
{{- with .Values.storage }}

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
    name: postgresql-dshm-pvc
spec:
    accessModes:
        - ReadWriteMany
    storageClassName: longhorn
    resources:
        requests:
            storage: {{ .dshmSize }}

---

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
    name: postgresql-data-pvc
spec:
    accessModes:
        - ReadWriteMany
    storageClassName: longhorn
    resources:
        requests:
            storage: {{ .dataSize }}

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
    name: postgresql14-dshm-pvc
spec:
    accessModes:
        - ReadWriteMany
    storageClassName: longhorn
    resources:
        requests:
            storage: {{ .dshmSize }}

---

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
    name: postgresql14-data-pvc
spec:
    accessModes:
        - ReadWriteMany
    storageClassName: longhorn
    resources:
        requests:
            storage: {{ .dataSize }}

---

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
    name: pgadmin-data-pvc
spec:
    accessModes:
        - ReadWriteMany
    storageClassName: longhorn-single
    resources:
        requests:
            storage: {{ .pgAdmin }}

---

{{- end }}
