---
{{- with .Values.wallabag }}

apiVersion: v1
kind: Service
metadata:
    name: wallabag
    namespace: {{ $.Release.Namespace }}
spec:
    type: LoadBalancer
    selector:
        app.kubernetes.io/instance: wallabag
        app.kubernetes.io/name: wallabag
    ports:
        -   name: wallabag
            protocol: TCP
            port: {{ .port }}
{{- end }}
