---
{{- with .Values.syncthing }}

apiVersion: apps/v1
kind: Deployment
metadata:
    name: syncthing
    namespace: {{ $.Release.Namespace }}
    labels:
        app.kubernetes.io/instance: syncthing
        app.kubernetes.io/name: syncthing
spec:
    replicas: {{ .replicas }}
    strategy:
        rollingUpdate:
            maxUnavailable: 0
    selector:
        matchLabels:
            app.kubernetes.io/instance: syncthing
            app.kubernetes.io/name: syncthing
    template:
        metadata:
            annotations:
                backup.velero.io/backup-volumes: app-config
            labels:
                app.kubernetes.io/instance: syncthing
                app.kubernetes.io/name: syncthing
        spec:
            containers:
                -   name: syncthing
                    image: {{ .image }}
                    imagePullPolicy: IfNotPresent
                    securityContext:
                      capabilities:
                        drop:
                        - ALL
{{- if .resources }}
                    resources:
{{ toYaml .resources | indent 22 }}
{{- end }}
                    ports:
                        -   name: web
                            containerPort: {{ .port }}
                        -   name: tcp
                            containerPort: 22000
                            protocol: TCP
                        -   name: udp
                            containerPort: 22000
                            protocol: UDP
                        -   name: udp2
                            containerPort: 21027
                            protocol: UDP
                    volumeMounts:
                        -   name: app-config
                            mountPath: /config
                        -   name: data-volume
                            mountPath: /data

            restartPolicy: Always
            volumes:
                -   name: app-config
                    persistentVolumeClaim:
                        claimName: syncthing-config-pvc
                -   name: data-volume
                    nfs:
                        path: "/volume1/k3s/syncthing"
                        server: {{ $.Values.storage.nasIp }}
---

apiVersion: v1
kind: Service
metadata:
    name: syncthing
    namespace: {{ $.Release.Namespace }}
spec:
    selector:
        app.kubernetes.io/instance: syncthing
        app.kubernetes.io/name: syncthing
    ports:
        -   name: syncthing
            protocol: TCP
            port: {{ .port }}
{{- end }}
