---
{{- with .Values.homebox }}

apiVersion: apps/v1
kind: Deployment
metadata:
    name: homebox
    namespace: {{ $.Release.Namespace }}
    labels:
        app: homebox
spec:
    replicas: {{ .replicas }}
    selector:
        matchLabels:
            app: homebox
    template:
        metadata:
            annotations:
                backup.velero.io/backup-volumes: data
            labels:
                app: homebox
        spec:
            containers:
                -   name: homebox
                    image: {{ .image }}
                    imagePullPolicy: IfNotPresent
{{- if .resources }}
                    resources:
{{ toYaml .resources | indent 22 }}
{{- end }}
                    ports:
                        -   name: web
                            containerPort: {{ .port }}
                    env:
                        - name: HBOX_LOG_LEVEL
                          value: "info"
                        - name: HBOX_LOG_FORMAT
                          value: "json"
                        - name: HBOX_WEB_MAX_UPLOAD_SIZE
                          value: "100"
                        - name: HBOX_ALLOW_REGISTRATION
                          value: "true"
                    envFrom:
                        -   secretRef:
                                name: homebox
                                optional: false
                    volumeMounts:
                        -   mountPath: /data
                            name: data
                    livenessProbe:
                        failureThreshold: 2
                        initialDelaySeconds: 120
                        periodSeconds: 120
                        timeoutSeconds: 2
                        tcpSocket:
                            port: {{ .port }}
                    readinessProbe:
                        failureThreshold: 10
                        initialDelaySeconds: 15
                        periodSeconds: 10
                        timeoutSeconds: 2
                        tcpSocket:
                            port: {{ .port }}

            restartPolicy: Always
            volumes:
                -   name: data
                    persistentVolumeClaim:
                        claimName: data-pvc

---

apiVersion: v1
kind: Service
metadata:
    name: homebox
    namespace: {{ $.Release.Namespace }}
spec:
    {{- with .nodePort }}
    type: NodePort
    {{- end }}
    selector:
        app: homebox
    ports:
        -   name: homebox
            protocol: TCP
            port: {{ .port }}
          {{- with .nodePort }}
            nodePort: {{ . }}
          {{- end }}

{{- end }}
