---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
    name: homebox
    namespace: {{ $.Release.Namespace }}
    annotations:
        kubernetes.io/ingress.class: "nginx"
        nginx.ingress.kubernetes.io/proxy-body-size: "100m"
        gethomepage.dev/enabled: "true"
        gethomepage.dev/description: Home Inventory
        gethomepage.dev/group: Storage
        gethomepage.dev/icon: homebox
        gethomepage.dev/name: Homebox
spec:
    tls:
        -   hosts:
                - "*.stefangenov.site"
            secretName: ingress
    rules:
        -   host: homebox.stefangenov.site
            http:
                paths:
                    -   pathType: Prefix
                        path: "/"
                        backend:
                            service:
                                name: homebox
                                port:
                                    number: {{ .Values.homebox.port }}
