---
{{- with .Values.openbooks }}

apiVersion: apps/v1
kind: Deployment
metadata:
    name: openbooks
    namespace: {{ $.Release.Namespace }}
    labels:
        app.kubernetes.io/instance: openbooks
        app.kubernetes.io/name: openbooks
spec:
    replicas: 1
    selector:
        matchLabels:
            app.kubernetes.io/instance: openbooks
            app.kubernetes.io/name: openbooks
    template:
        metadata:
            labels:
                app.kubernetes.io/instance: openbooks
                app.kubernetes.io/name: openbooks
        spec:
            containers:
                - name: openbooks
                  image: {{ .image }}
                  imagePullPolicy: IfNotPresent
                  securityContext:
                      privileged: false
                      allowPrivilegeEscalation: false
                  args:
                      - --persist
                      - -n stefan-g-home
                      - -d /config
{{- if .resources }}
                  resources:
{{ toYaml .resources | indent 22 }}
{{- end }}
                  ports:
                      - name: web
                        containerPort: {{ .port }}
                  volumeMounts:
                      - name: data-config
                        mountPath: /config
                  livenessProbe:
                      failureThreshold: 2
                      initialDelaySeconds: 30
                      timeoutSeconds: 2
                      httpGet:
                          path: /
                          port: {{ .port }}
                  readinessProbe:
                      failureThreshold: 2
                      initialDelaySeconds: 30
                      timeoutSeconds: 2
                      httpGet:
                          path: /
                          port: {{ .port }}
                  startupProbe:
                      failureThreshold: 5
                      timeoutSeconds: 2
                      httpGet:
                          path: /
                          port: {{ .port }}

            restartPolicy: Always
            volumes:
                - name: data-config
                  persistentVolumeClaim:
                      claimName: openbooks-pvc

---

apiVersion: v1
kind: Service
metadata:
    name: openbooks
    namespace: {{ $.Release.Namespace }}
spec:
    selector:
        app.kubernetes.io/instance: openbooks
        app.kubernetes.io/name: openbooks
    ports:
        - name: openbooks
          protocol: TCP
          port: {{ .port }}
{{- end }}
