---
{{- with .Values.vikunja }}

apiVersion: apps/v1
kind: Deployment
metadata:
    name: vikunja
    namespace: {{ $.Release.Namespace }}
    labels:
        app.kubernetes.io/instance: vikunja
        app.kubernetes.io/name: vikunja
spec:
    replicas: 1
    revisionHistoryLimit: 3
    selector:
        matchLabels:
            app.kubernetes.io/instance: vikunja
            app.kubernetes.io/name: vikunja
    template:
        metadata:
            annotations:
                backup.velero.io/backup-volumes: data
            labels:
                app.kubernetes.io/instance: vikunja
                app.kubernetes.io/name: vikunja
            name: vikunja
        spec:
            containers:
                - name: vikunja
                  image: {{ .image }}
                  securityContext:
                    capabilities:
                      drop:
                      - ALL
                  env:
                      - name: VIKUNJA_SERVICE_FRONTENDURL
                        value: "{{ .frontendUrl }}"
                      - name: VIKUNJA_DATABASE_TYPE
                        value: "postgres"
                      - name: VIKUNJA_SERVICE_JWTSECRET
                        valueFrom:
                            secretKeyRef:
                                name: app
                                key: JWT_SECRET
                      - name: VIKUNJA_MAILER_ENABLED
                        value: "false"
                      - name: VIKUNJA_DATABASE_HOST
                        valueFrom:
                            secretKeyRef:
                                name: cluster-postgres-app
                                key: host
                      - name: VIKUNJA_DATABASE_USER
                        valueFrom:
                            secretKeyRef:
                                name: cluster-postgres-app
                                key: username
                      - name: VIKUNJA_DATABASE_PASSWORD
                        valueFrom:
                            secretKeyRef:
                                name: cluster-postgres-app
                                key: password
                      - name: VIKUNJA_DATABASE_DATABASE
                        valueFrom:
                            secretKeyRef:
                                name: cluster-postgres-app
                                key: dbname
                  imagePullPolicy: IfNotPresent
                  volumeMounts:
                      - name: data
                        mountPath: /app/vikunja/files
                  livenessProbe:
                      failureThreshold: 10
                      initialDelaySeconds: 30
                      tcpSocket:
                          port: {{ .port }}
                      timeoutSeconds: 2
                  startupProbe:
                      failureThreshold: 20
                      timeoutSeconds: 2
                      tcpSocket:
                          port: {{ .port }}
                  ports:
                      - containerPort: {{ .port }}
                        name: api
                        protocol: TCP
            volumes:
                - name: data
                  persistentVolumeClaim:
                      claimName: vikunja-pvc

---

apiVersion: v1
kind: Service
metadata:
    name: vikunja
    namespace: {{ $.Release.Namespace }}
spec:
    selector:
        app.kubernetes.io/instance: vikunja
        app.kubernetes.io/name: vikunja
    ports:
        -   name: api
            protocol: TCP
            port: {{ .port }}
{{- end }}
