---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
    name: vikunja-pvc
    namespace: {{ $.Release.Namespace }}
spec:
    accessModes:
        - ReadWriteMany
    storageClassName: longhorn
    resources:
        requests:
            storage: {{ .Values.storage.dataSize }}
