---
{{- with .Values.grafana }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
    labels:
        app: grafana
    name: grafana
    namespace: {{ $.Release.Namespace }}
spec:
    replicas: 1
    strategy:
        rollingUpdate:
            maxUnavailable: 0
    selector:
        matchLabels:
            app: grafana
    template:
        metadata:
            annotations:
                backup.velero.io/backup-volumes: grafana
            labels:
                app: grafana
        spec:
            terminationGracePeriodSeconds: 0
            securityContext:
                runAsUser: 472
                runAsGroup: 472
                fsGroup: 472
            restartPolicy: Always
            containers:
                - image: {{ .image }}
                  imagePullPolicy: IfNotPresent
                  name: grafana
                  ports:
                      - containerPort: {{ .port }}
                        name: http-grafana
                        protocol: TCP
                  resources:
                      requests:
                          cpu: 100m
                          memory: 500Mi
                      limits:
                          cpu: {{ .limits.cpu }}
                          memory: {{ .limits.memory }}
                  volumeMounts:
                      - mountPath: /var/lib/grafana
                        name: grafana

            volumes:
                - name: grafana
                  persistentVolumeClaim:
                      claimName: grafana-pvc
---
apiVersion: v1
kind: Service
metadata:
    name: grafana
    namespace: {{ $.Release.Namespace }}
spec:
    ports:
        - port: {{ .port }}
          {{- with .nodePort }}
          nodePort: {{ . }}
          {{- end }}
          protocol: TCP
          targetPort: http-grafana
          name: grafana
    selector:
        app: grafana
    sessionAffinity: None
    {{- with .nodePort }}
    type: NodePort
    {{- end }}

{{- end }}
