---
{{- with .Values.loki }}

apiVersion: apps/v1
kind: Deployment
metadata:
    name: loki
    namespace: {{ $.Release.Namespace }}
    labels:
        app: loki
spec:
    replicas: 1
    selector:
        matchLabels:
            app: loki
    template:
        metadata:
            labels:
                app: loki
        spec:
            containers:
                - name: loki
                  image: {{ .image }}
                  imagePullPolicy: IfNotPresent
{{- if .resources }}
                  resources:
{{ toYaml .resources | indent 22 }}
{{- end }}
                  ports:
                      - name: web
                        containerPort: {{ .port }}
                  volumeMounts:
                      - name: app-config
                        mountPath: /loki
                      - name: loki-logs
                        mountPath: /tmp/loki
                      - name: loki-config
                        mountPath: /etc/loki/local-config.yaml
                        subPath: local-config.yaml
                  livenessProbe:
                      failureThreshold: 5
                      initialDelaySeconds: 120
                      periodSeconds: 120
                      timeoutSeconds: 5
                      tcpSocket:
                          port: {{ .port }}

            restartPolicy: Always
            volumes:
                - name: app-config
                  persistentVolumeClaim:
                      claimName: loki-pvc
                - name: loki-logs
                  persistentVolumeClaim:
                      claimName: loki-logs
                - name: loki-config
                  configMap:
                      name: loki-config

---

apiVersion: v1
kind: Service
metadata:
    name: loki
    namespace: {{ $.Release.Namespace }}
spec:
    selector:
        app: loki
    ports:
        - name: loki
          protocol: TCP
          port: {{ .port }}

---

apiVersion: v1
kind: ConfigMap
metadata:
    name: loki-config
    namespace: {{ $.Release.Namespace }}
data:
    local-config.yaml: |
        auth_enabled: false
        server:
            http_listen_port: 3100
            grpc_listen_port: 9096

        common:
            path_prefix: /tmp/loki
            storage:
                filesystem:
                    chunks_directory: /tmp/loki/chunks
                    rules_directory: /tmp/loki/rules
            replication_factor: 1
            ring:
                instance_addr: 127.0.0.1
                kvstore:
                    store: inmemory

        schema_config:
            configs:
                - from: 2020-10-24
                  store: boltdb-shipper
                  object_store: filesystem
                  schema: v11
                  index:
                      prefix: index_
                      period: 24h

        ruler:
            alertmanager_url: http://localhost:9093

        limits_config:
            retention_period: 72h
            retention_stream:
                - selector: '{job="containerlogs"}'
                  priority: 1
                  period: 48h
                - selector: '{job="varlogs"}'
                  priority: 1
                  period: 48h

{{- end }}
