{{- with .Values.grafana }}
---

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
    name: grafana-pvc
spec:
    accessModes:
        - ReadWriteOnce
    storageClassName: longhorn
    resources:
        requests:
            storage: 1Gi

{{- end }}

{{- with .Values.prometheus }}
---

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
    name: prometheus
spec:
    storageClassName: longhorn
    accessModes:
        - ReadWriteOnce
    resources:
        requests:
            storage: 40Gi

{{- end }}

{{- with .Values.loki }}
---

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
    name: loki-pvc
spec:
    accessModes:
        - ReadWriteOnce
    storageClassName: longhorn
    resources:
        requests:
            storage: 10Gi
---

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
    name: loki-logs
spec:
    storageClassName: longhorn
    accessModes:
        - ReadWriteOnce
    resources:
        requests:
            storage: 25Gi

{{- end }}

{{- with .Values.promtail }}
---

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
    name: promtail-position-pvc
spec:
    accessModes:
        - ReadWriteMany
    storageClassName: longhorn
    resources:
        requests:
            storage: 2Gi

{{- end }}
