---
{{- with .Values.stirlingpdf }}

apiVersion: apps/v1
kind: Deployment
metadata:
    name: stirlingpdf
    namespace: {{ $.Release.Namespace }}
    labels:
        app.kubernetes.io/instance: stirlingpdf
        app.kubernetes.io/name: stirlingpdf
spec:
    strategy:
        rollingUpdate:
            maxUnavailable: 0
    replicas: 1
    selector:
        matchLabels:
            app.kubernetes.io/instance: stirlingpdf
            app.kubernetes.io/name: stirlingpdf
    template:
        metadata:
            labels:
                app.kubernetes.io/instance: stirlingpdf
                app.kubernetes.io/name: stirlingpdf
        spec:
            containers:
                - name: stirlingpdf
                  image: {{ .image }}
                  imagePullPolicy: IfNotPresent
                  securityContext:
                    capabilities:
                      drop:
                      - ALL
{{- if .resources }}
                  resources:
{{ toYaml .resources | indent 22 }}
{{- end }}
                  ports:
                      - name: web
                        containerPort: {{ .port }}
                  env:
                      - name: PUID
                        value: "1000"
                      - name: PGID
                        value: "1000"
                  livenessProbe:
                      failureThreshold: 5
                      initialDelaySeconds: 30
                      timeoutSeconds: 2
                      tcpSocket:
                          port: {{ .port }}
                  startupProbe:
                      failureThreshold: 10
                      timeoutSeconds: 2
                      tcpSocket:
                          port: {{ .port }}
            restartPolicy: Always

---

apiVersion: v1
kind: Service
metadata:
    name: stirlingpdf
    namespace: {{ $.Release.Namespace }}
spec:
    selector:
        app.kubernetes.io/instance: stirlingpdf
        app.kubernetes.io/name: stirlingpdf
    ports:
        - name: stirlingpdf
          protocol: TCP
          port: {{ .port }}
{{- end }}
