---
{{- with .Values.kavita }}

apiVersion: apps/v1
kind: Deployment
metadata:
    name: kavita
    namespace: {{ $.Release.Namespace }}
    labels:
        app.kubernetes.io/instance: kavita
        app.kubernetes.io/name: kavita
spec:
    strategy:
        type: Recreate
    replicas: {{ .replicas }}
    selector:
        matchLabels:
            app.kubernetes.io/instance: kavita
            app.kubernetes.io/name: kavita
    template:
        metadata:
            annotations:
                backup.velero.io/backup-volumes: config-data
            labels:
                app.kubernetes.io/instance: kavita
                app.kubernetes.io/name: kavita
        spec:
            containers:
                -   name: kavita
                    image: {{ .image }}
                    imagePullPolicy: IfNotPresent
                    securityContext:
                      capabilities:
                        add:
                        - CHOWN
                        - SETGID
                        - SETUID
                        drop:
                        - ALL
                      privileged: false
                      allowPrivilegeEscalation: false
                    env:
                        -   name: PUID
                            value: "1000"
                        -   name: GUID
                            value: "1000"
{{- if .resources }}
                    resources:
{{ toYaml .resources | indent 22 }}
{{- end }}
                    ports:
                        -   name: web
                            containerPort: {{ .port }}
                    volumeMounts:
                        -   name: config-data
                            mountPath: /config
                        -   name: books-data-nfs
                            mountPath: /books
                    livenessProbe:
                        failureThreshold: 5
                        initialDelaySeconds: 30
                        timeoutSeconds: 2
                        httpGet:
                            path: /login
                            port: {{ .port }}
                    startupProbe:
                        failureThreshold: 10
                        timeoutSeconds: 2
                        httpGet:
                            path: /login
                            port: {{ .port }}
            restartPolicy: Always
            volumes:
                -   name: config-data
                    persistentVolumeClaim:
                        claimName: kavita-config-pvc
                -   name: books-data-nfs
                    nfs:
                        path: "/volume1/k3s/media/books"
                        server: "192.168.1.39"
---

apiVersion: v1
kind: Service
metadata:
    name: kavita
    namespace: {{ $.Release.Namespace }}
spec:
    selector:
        app.kubernetes.io/instance: kavita
        app.kubernetes.io/name: kavita
    ports:
        -   name: kavita
            protocol: TCP
            port: {{ .port }}

{{- end }}
