apiVersion: v1
kind: PersistentVolumeClaim
metadata:
    name: readarr-config-pvc
spec:
    accessModes:
        - ReadWriteOnce
    storageClassName: longhorn
    resources:
        requests:
            storage: {{ .Values.storage.readarr.config }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
    name: transmission-config-pvc
spec:
    accessModes:
        - ReadWriteMany
    storageClassName: longhorn
    resources:
        requests:
            storage: {{ .Values.storage.transmission.config }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
    name: kavita-config-pvc
spec:
    accessModes:
        - ReadWriteMany
    storageClassName: longhorn
    resources:
        requests:
            storage: {{ .Values.storage.kavita.config }}

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
    name: overseer-config-pvc
spec:
    accessModes:
        - ReadWriteMany
    storageClassName: longhorn
    resources:
        requests:
            storage: {{ .Values.storage.overseer.config }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
    name: sonarr-config-pvc
spec:
    accessModes:
        - ReadWriteOnce
    storageClassName: longhorn
    resources:
        requests:
            storage: {{ .Values.storage.sonarr.config }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
    name: radarr-config-pvc
spec:
    accessModes:
        - ReadWriteOnce
    storageClassName: longhorn
    resources:
        requests:
            storage: {{ .Values.storage.radarr.config }}
---
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
    name: prowlarr-config-pvc
spec:
    accessModes:
        - ReadWriteOnce
    storageClassName: longhorn
    resources:
        requests:
            storage: {{ .Values.storage.prowlarr.config }}
