---
{{- with .Values.vaultwarden }}

apiVersion: apps/v1
kind: Deployment
metadata:
    name: vaultwarden
    namespace: {{ $.Release.Namespace }}
    labels:
        app: vaultwarden
spec:
    replicas: 1
    strategy:
        type: Recreate
    selector:
        matchLabels:
            app: vaultwarden
    template:
        metadata:
            annotations:
                backup.velero.io/backup-volumes: config
            labels:
                app: vaultwarden
        spec:
            containers:
                -   name: backup
                    image: {{ .backup.image }}
                    imagePullPolicy: IfNotPresent
                    env:
                        -   name: BACKUP_ENCRYPTION_KEY
                            valueFrom:
                                secretKeyRef:
                                    name: backup
                                    key: encryptionKey
                        -   name: RETENTION_TIME_DAYS
                            value: "7"
                        -   name: CRON_SCHEDULE
                            value: "0 * */1 * *"
{{- if .backup.resources }}
                    resources:
{{ toYaml .backup.resources | indent 22 }}
{{- end }}
                    volumeMounts:
                        -   name: data
                            mountPath: /data
                        -   name: backup
                            mountPath: /backups
                -   name: vaultwarden
                    image: {{ .image }}
                    imagePullPolicy: IfNotPresent
{{- if .resources }}
                    resources:
{{ toYaml .resources | indent 22 }}
{{- end }}
                    startupProbe:
                        tcpSocket:
                            port: {{ .port }}
                        failureThreshold: 5
                        initialDelaySeconds: 10
                    livenessProbe:
                        tcpSocket:
                            port: {{ .port }}
                        periodSeconds: 10
                    ports:
                        -   name: web
                            containerPort: {{ .port }}
                    volumeMounts:
                        -   name: config
                            mountPath: /data

            restartPolicy: Always
            volumes:
                -   name: config
                    persistentVolumeClaim:
                        claimName: vaultwarden
                -   name: backup
                    persistentVolumeClaim:
                        claimName: backup

---

apiVersion: v1
kind: Service
metadata:
    name: vaultwarden
    namespace: {{ $.Release.Namespace }}
spec:
    {{- with .nodePort }}
    type: NodePort
    {{- end }}
    selector:
        app: vaultwarden
    ports:
        -   name: vaultwarden
            protocol: TCP
            port: {{ .port }}
          {{- with .nodePort }}
            nodePort: {{ . }}
          {{- end }}

{{- end }}
