---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
    name: firefly
    namespace: {{ $.Release.Namespace }}
    annotations:
        kubernetes.io/ingress.class: "nginx"
        gethomepage.dev/enabled: "true"
        gethomepage.dev/description: Budget buddy!
        gethomepage.dev/group: Tools
        gethomepage.dev/icon: firefly
        gethomepage.dev/name: Firefly III
spec:
    tls:
        -   hosts:
                - "*.stefangenov.site"
            secretName: ingress
    rules:
        -   host: firefly.stefangenov.site
            http:
                paths:
                    -   pathType: Prefix
                        path: "/"
                        backend:
                            service:
                                name: firefly
                                port:
                                    number: {{ .Values.firefly.port }}
        -   host: budget.stefangenov.site
            http:
                paths:
                    -   pathType: Prefix
                        path: "/"
                        backend:
                            service:
                                name: firefly
                                port:
                                    number: {{ .Values.firefly.port }}
