---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: firefly
resources:
  - helm-release.yaml
  - namespace.yaml
  - secret.sops.yaml
  - gateway-api.sensitive.yaml
  - cnpg.yaml
