---
vaultwarden:
    image: ghcr.io/dani-garcia/vaultwarden:1.32.3
    port: 80
    replicas: 1
    resources:
        requests:
            cpu: 500m
            memory: 512Mi
    backup:
        image: stefangenov/vaultwarden-backup:1.0.0
        resources:
            requests:
                cpu: 10m
                memory: 50Mi

storage:
    dataSize: 5Gi
    backupSize: 10Gi
